{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Manga o bagulho `-´</title>
</head>
<body class="body">
    <h1>Manga o Bagulho</h1>
    <form  method="post" action= {% url "enviar" %} enctype="multipart/form-data">
        {% csrf_token %}

        <p>
            {{ form }}
        </p>

        <p><input type="submit" value="Enviar o ngs ai"></p>
    </form>
</body>
</html>